.playerinfo{
    display: grid;
    
    grid-template-columns: 1fr;
    grid-area: 2/3;
    border: solid salmon;
    background-image: url("../../components/imgs/player-info.png");
    background-size:cover;
    background-repeat: no-repeat;
   
  }